p span.parent-em {
    display: block;
    font-size: 1.25em;
}

p span.child-em {
    display: block;
    font-size: 0.75em;
}

p span.parent-px {
    display: block;
    font-size: 1.25em;
}

p span.child-px {
    display: block;
    font-size: 0.75em;
}